/* p.error{
    color: red;
}
p.success{
    color: #4fdb4f;
}
p.nivya{
    color: #3e29c7;
}
div #content1{
    background-color: rgb(58, 98, 133);
    padding: 20px;
}
div .error{
    color: red;
}
a[href*="thenetninja"]{
    background-color: #3dd13d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
a[href$=".com"]{
    color: white;
    background: red;
    border: 2px solid blue;
} */

div{
    color: rgb(252, 57, 8);
    border: 1px solid gray;
    margin: 40px;
    font-weight: bold;
}
div p{
    border: inherit;
    margin: inherit;
    color: aquamarine;
}
p{
    color: orange
}